trainingdata/burgers.reduced.jld2 filter=lfs diff=lfs merge=lfs -text
trainingdata/kuramotosivashinsky.reduced.jld2 filter=lfs diff=lfs merge=lfs -text
trainingdata/lorenz96.reduced.jld2 filter=lfs diff=lfs merge=lfs -text
